/* Ogólne style */
body {
    margin: 10;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(180deg, 
        red 5%,  /* Czerwony zajmuje pierwsze 25% */
        white 50%, /* Biały rozciąga się na 50% */
        red 100%);
	background-size: 300% 300%; /* Zwiększenie rozmiaru gradientu */
    background-position: center center; /* Wyśrodkowanie gradientu */
}

.hidden {
 transition: transform 0.2s ease-in-out;
 border-radius: 8px;
 font-weight: bold;
 margin: 10px 0;
 display: flex;
 background: linear-gradient(90deg, #007BFF, #00CFFF);

 
}

.hidden:Hover {
  transform: scale(0.9);
}



